<p id="notice"><%= notice %></p>

<h1><%= @story.title %></h1>
<h2>by <%= @story.author %></h2>



<div class="reading-pane">
  <button id="start-story">Start Story</button>
  <p class="story-text">click 'Start Story' to begin</p>
</div>

<p class="content">
  <%= @story.content %>
</p>


<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>


