<p id="notice"><%= notice %></p>

<h1><%= @story.title %></h1>
<h2>by <%= @story.author %></h2>



<div class="reading-pane">
  <button id="start-story">Start Story</button>
  <button id="stop-story">Stop Story</button>
  <p>
    <div class="story-text">click 'Start Story' to begin</div>
  </p>
  <br>
  <button id="read-slow" class="speed-setting" value="2000">Read Slow</button>
  <button id="read-medium" class="speed-setting" value="1500">Read Medium</button>
  <button id="read-fast" class="speed-setting" value="750">Read Fast</button>
  <!-- <button id="read-manual">Read Manual</button> -->
</div>

<p class="content">
  <%= @story.content %>
</p>


<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>


