<p id="notice"><%= notice %></p>

<h1><%= @story.title %></h1>
<h2>by <%= @story.author %></h2>



<div class="reading-pane">

  <div class="controls">
    <button id="last-line" class="navigation"><--</button>    
    <button id="start-story" class="control">Start</button>
    <button id="stop-story" class="control">Pause</button>
    <button id="next-line" class="navigation">--></button>
  </div>


  <p>
    <div class="story-text">
      click 'Start' to begin
    </div>
  </p>

  <div class="speed-buttons">

    <h3>Choose your reading speed:</h3>

    <br>
    <% @speeds.each do |speed| %>
          <button id="btn-<%= speed.animal.gsub(" ", "-") %>" class="speed-setting" value="<%= speed.delay %>" data-animal="<%= speed.animal %>" data-blurb="<%= speed.blurb %>"><%= speed.animal.capitalize %></button>
    <% end %>

    <p id="speed-blurb"></p>

  </div>

</div>



<p class="content">
  <%= @story.content %>
</p>


<%= link_to 'Back', stories_path %>


