<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @story.title %>, 
  <strong>Author:</strong>
  <%= @story.author %>
</p>


<div class="reading-pane">
  <button id="start-story">Start Story</button>
  <p class="story-text"></p>
</div>

<p class="content">
  <%= @story.content %>
</p>


<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>


