<p id="notice"><%= notice %></p>

<h1><%= @story.title %></h1>
<h2>by <%= @story.author %></h2>



<div class="reading-pane">

  <div class="controls">
    <button id="last-line" class="navigation"><--</button>    
    <button id="start-story" class="control">Start</button>
    <button id="stop-story" class="control">Pause</button>
    <button id="next-line" class="navigation">--></button>
  </div>


  <p>
    <div class="story-text">
      click 'Start' to begin
    </div>
  </p>

  <div class="speed-buttons">

    <h3>Choose your reading speed:</h3>

    <br>
    <button id="btn-slug" class="speed-setting" value="20000">Slug</button>
    <button id="btn-sloth" class="speed-setting" value="18000">Sloth</button>
    <button id="btn-turtle" class="speed-setting" value="15000">Turtle</button>
    <button id="btn-snake" class="speed-setting" value="12000">Snake</button>
    <button id="btn-lizard" class="speed-setting" value="9000">Lizard</button>
    <button id="btn-mouse" class="speed-setting" value="7000">Mouse</button>
    <br>
    <button id="btn-rabbit" class="speed-setting" value="5000">Rabbit</button>
    <button id="btn-dog" class="speed-setting" value="4000">Dog</button>
    <button id="btn-horse" class="speed-setting" value="3000">Horse</button>
    <button id="btn-cheetah" class="speed-setting" value="2000">Cheetah</button>
    <button id="btn-falcon" class="speed-setting" value="1000">Peregrine Falcon</button>
    <!-- <button id="read-manual">Read Manual</button> -->

    <p id="speed-blurb"></p>
  </div>

</div>



<p class="content">
  <%= @story.content %>
</p>


<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>


