<!DOCTYPE html>
<html>
<head>
  <title>Reading Racer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <link href='https://fonts.googleapis.com/css?family=Trade+Winds' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
    <h1 id="title">Reading Racer</h1>

  <div id="container">
    <%= yield %>
  </div>

</body>
</html>
